.about {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../Assets/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin-top: -1.1875rem;
  /* padding: 100px 0; */
  color: $font-nav-hover-color;
  &-container {
    margin: 0 auto;
    margin-top: 2.5rem;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    @include breakpoint-up(large) {
      width: 85%;
    }
    .presentation {
      width: 100%;
      margin: 0 auto;
      height: 60vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      @include breakpoint-up(large) {
        height: 80vh;
        width: 100%;
      }
      &-head {
        width: 90%;
        align-self: center;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        font-size: 0.75rem;
        margin-bottom: 0.3125rem;
        @include breakpoint-up(medium) {
          font-size: 0.875rem;
        }
        @include breakpoint-up(large) {
          width: 90%;
          align-self: center;
        }
      }
      &-title {
        /*  background-color: blue; */
        width: 90%;
        font-family: "Montserrat";
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        font-size: 1.875rem;

        @include breakpoint-up(medium) {
          font-size: 2.8125rem;
        }
        @include breakpoint-up(large) {
          width: 90%;
          font-size: 4.375rem;
        }

        span {
          color: $title-color;
        }
      }
      p {
        font-size: 1.125rem;
        margin-top: 1.5625rem;
      }
    }

    .info {
      /* height: 50vh; */
      /* background-color: red; */

      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 6.25rem;
      @include breakpoint-up(large) {
        margin-bottom: 0rem;
      }

      .about-info {
        margin-bottom: 5rem;
        .info-p {
          p {
            font-size: 1.125rem;
            margin-top: 1.375rem;
            line-height: 1.5625rem;
          }
        }
      }
      @include breakpoint-up(large) {
        height: 28.125rem;
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;

        .about-info {
          margin-bottom: 0rem;
          width: 45%;
          .info-p {
            p {
              font-size: 1.125rem;
              margin-top: 1.5625rem;
            }
          }
        }
        .stack {
          width: 45%;
          .stack-icons {
            font-size: 3.75rem;
            height: 12.5rem;
            align-items: center;

            gap: 0.9375rem;
          }
        }
      }
      .stack {
        .stack-icons {
          font-size: 4.0625rem;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          gap: 0.9375rem;
        }
      }
      .section-title {
        text-align: center;
        @include breakpoint-up(large) {
          text-align: center;
        }
      }
    }

    .img {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }

  .btn {
    width: 11.25rem;
    height: 2.8125rem;
    margin-top: 2.5rem;
    border-radius: 0.1875rem;
    border: 0.125rem solid $hover-external-icons;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      .btn-overlay {
        width: 100%;
      }
    }

    a {
      color: $subtitle-color;
      margin: 0 0;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 0.0625rem;
      position: relative;
    }

    &-overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: $hover-external-icons;
      transition: width 300ms ease-in-out;
    }
  }
}
