.projects {
  padding: 3.125rem 0 3.125rem 0;
  &-container {
    margin: 0 auto;
    width: 90%;
  }

  .projects-title {
    margin: 6.25rem 0;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    font-weight: 500;
    /*  text-transform: uppercase; */
    text-align: center;
    color: $subtitle-color;
  }

  .works-container {
    margin: 3.75rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;

    @include breakpoint-up(medium) {
      justify-items: center;
      align-items: center;
      gap: 1.875rem;
    }

    @include breakpoint-up(large) {
      flex-flow: row wrap;
      justify-content: center;
      /* gap: 1.875rem; */
      gap: 2.5rem;
    }
    @include breakpoint-up(xlarge) {
    }
  }

  .project {
    border-radius: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1875rem 0.375rem,
      rgba(0, 0, 0, 0.23) 0rem 0.1875rem 0.375rem;
    overflow: hidden;

    height: 18.75rem;
    min-width: 200px;
    position: relative;

    &::selection {
      border: none;
    }

    @include breakpoint-up(medium) {
      min-width: 32.5rem;
      max-width: 32.5rem;
      height: 21.875rem;
    }

    @include breakpoint-up(large) {
      min-width: 21.875rem;
      max-width: 26.875rem;
      flex: 1 0 0px;

      /*  grid-column: span 1; */

      &:hover {
        .project-info {
          /* height: 100%; */
          /*   background-color: rgba(0, 68, 98, 0.8); */
          opacity: 1;
        }

        .project-info > * {
          transform: translateY((0rem));
        }
        .project-img {
          transform: scale(1.4);
        }
        .frontend-img {
          transform: scale(1.2);
        }
      }
    }
    @include breakpoint-up(xlarge) {
    }

    .project-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      /* background-color: rgba(0, 68, 98, 0.8); */
      background-color: rgba(1, 1, 1, 0.85);
      color: $font-nav-hover-color;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 0.9375rem;
      /*  padding-left: 20px; */
      opacity: 1;
      overflow: hidden;
      /* transition: background-color 200ms ease; */

      @include breakpoint-up(large) {
        opacity: 0.25;

        transition: opacity 200ms ease-in-out;
        /* transition: height 200ms ease-in-out; */
        & > * {
          transform: translateY((6.25rem));
          transition: transform 0.25s ease-in-out;
        }
      }
    }

    .project-img {
      position: block;
      width: 100%;
      max-width: 32.5rem;
      object-fit: cover;
      transform: scale(1.2);
      height: 100%;
      transition: transform 300ms ease-in-out;
      border-radius: 0.125rem;
      @include breakpoint-up(large) {
        object-fit: cover;
        transform: scale(1.2);
      }
    }
    .frontend-img {
      position: block;
      width: 100%;
      object-fit: cover;
      height: 100%;
      transition: transform 300ms ease-in-out;
      border-radius: 0.125rem;
    }

    .title-container {
      gap: 0.625rem;
      height: 1.875rem;
      padding-left: 0.9375rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    .info-title {
      width: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 0.125rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $subtitle-color;
    }

    .external-container {
      margin-top: 0.4375rem;
      display: flex;
      flex-flow: row nowrap;
      gap: 0.625rem;
      a {
        color: $external-icons;
        font-weight: 700;
        font-size: 1.375rem;
        text-decoration: none;
        &:hover {
          color: $hover-external-icons;
        }
      }
    }

    .tech-container {
      padding-left: 0.9375rem;
      margin-bottom: 1.25rem;
      display: flex;
      flex-flow: row nowrap;
      gap: 0.9375rem;
      font-size: 1.875rem;
    }
  }
  .more-projects {
    margin: 0 auto;
    width: 15rem;
    cursor: pointer;
    position: relative;
    &:hover {
      .underline {
        width: 14.8125rem;
      }
      a {
        color: $title-color;
      }
    }
    .underline {
      width: 0rem;
      height: 0.125rem;
      background-color: $title-color;
      position: absolute;
      top: 1.4375rem;
      transition: width 400ms ease-in-out;
    }

    a {
      text-decoration: none;
      font-size: 1.25rem;
      color: $subtitle-color;
      letter-spacing: 0.1875rem;
      font-weight: 500;
      text-align: center;

      transition: color 200ms ease-in-out;
    }
  }
}
