$background-color: #0a192f; // #12243d
$nav-color: #060f1d; //#141414  #0a131f

$subtitle-color: #e3f0ff;
$title-color: #00c6bd;
$hover-external-icons: #007583;
$external-icons: #00c6bd;

$font-nav-color: rgb(187, 187, 187);
$font-nav-hover-color: rgb(233, 233, 233);
